@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-edit:hover {
  fill: blue;
  cursor: pointer;
  transition: ease-in-out all 300ms;
}

.icon-trash:hover {
  fill: red;
  cursor: pointer;
  transition: ease-in-out all 300ms;
}