@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(251 252 253);
}

.icon-edit:hover {
  fill: blue;
  cursor: pointer;
  transition: ease-in-out all 300ms;
}

.icon-trash:hover {
  fill: red;
  cursor: pointer;
  transition: ease-in-out all 300ms;
}

input,
select {
  outline: none;
}